
:root{
    --background-color-users-table-row:#ffff;
    --background-color-users-table-row-header: #f2f2f2;
    --delete:    #E5E5E5;
    --search-wrapper-background : #ffff;
    --search-wrapper-color : #0000;
    --search-wrapper-border : #ffff;
    --report-card-background  : #ffff;
    --report-card-color  : #4b4b4b;
    --report-page-header: #202020;
    --report-card-name : #3d3d3d;
    --report-card-timeline : #202020;
    --report-card-arrow: #202020;
    --answer-report-border : black;
  }
     /*    Dark Mode */
     .dark-theme-variables{
        --report-card-arrow: #00000066;
        --report-card-background  : #202528;
        --answer-report-border : #ffff;
        --report-card-color  : #ffff;
        --report-page-header: #00000066;
        --report-card-name: #ffff;
        --report-card-timeline : #00000066;
     }
.litenote-reports{
font-family: "Poppins", sans-serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;

}
.reports-page-right{
    position: fixed;
    left: 975px;

}
.litenote-reports-heading{
letter-spacing: 1px;
margin: 1px 0px;
padding: 10px 20px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-left: 0px;
}
.litenote-reports-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: var(--report-page-header);
    color: #ffff;
    padding: 10px 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.litenote-reports-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.litenote-reports-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.reports-right-corner-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    /* z-index: 1; */
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--report-card-arrow);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    left: -14px;
}
.litenote-reports-box{
    width: 700px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: var(--report-card-background);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;

}
.report-loaders{
    object-fit: cover;
    background: var(--skeleton-background);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
}
.litenote-reports-profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.litenote-reports-box-profile{
    display: flex;
    align-items: center;
}
.litenote-reports-box-name-user{
    display: flex;
    flex-direction: column;
}
.litenote-reports-box-name-user strong{
    color: var(--report-card-name);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    text-decoration: solid;
}

.litenote-reports-box-name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.litenote-reports-box-reports{
    color: #f9d71c;
}
.litenote-reports-box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.reports-date{
    /* position: absolute;
    top: -35px;
    left: 20px; */
    /* width: 135px;
    height: 35px; */
    border-radius: 20px;
    color: #fff;
    background-color: #202020;
    padding: 10px;
    margin-left: 5px;
   
}
.vertical-line{
    border-left : 3px solid var(--report-card-timeline);
    margin-left: -2px;
    /* position: absolute; */
    /* margin-top: 300px; */
}
/* .litenote-reports-box-container:after{
    position: absolute;
    content:   "";
    width: 2px;
    height: 125%;
    background-color: red;
    margin-left: 15px;
    

} */
.litenote-reports-client-comment p{
font-size: 1.1rem;
color: var(--report-card-color);
font-family: "Poppins", sans-serif;
}
.litenote-reports-box:hover{
transform: translateY(-10px);
transition: all ease 0.3s;
}
@media(max-width : 1060px){
    .reports-page-right{
        position:static;
   
    }
}
@media(max-width : 790px){
    .litenote-reports-box{
        width: 93%;
    }
    .litenote-reports-heading h1{
        font-size: 1.4rem;
    }
    .litenote-reports{
        margin-top: 50px;
    }
    .vertical-line{
        margin-left: 4px;
    }
    .litenote-reports-page{
        margin-top: 70px;
    }
}
@media(max-width : 340px){
    .litenote-reports-box-top{
flex-wrap: wrap;
margin-bottom: 10px;
    }
    .litenote-reports-box-reports{
     margin-top: 10px;   
    }
}
::selection{
    color: white;
    background-color: #252525;
}

.report-card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.report-settings{
    position: relative;
  }
  .report-settings .report-settings-menu{
    position: absolute;
    right: -5px;
    bottom: 0;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    padding: 20px 20px;
    background: var( --bookmark-settings);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
  }
  .report-settings:hover .report-settings-menu{
    transform: scale(1);
  }
  .report-settings .report-settings-menu li{
    height: 25px;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: flex-start;
height: 25px;
border-radius: 0;
padding: 17px 15px;
color: #6d6d6d;
  }
  .reports-them{
    /* background-color: #166534; */
    border-radius: 9999px;
    box-sizing: border-box;
   
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 10px;
    text-wrap: nowrap;
    white-space: nowrap;
    border: 1px solid var( --answer-report-border);
    
  }
  .report-settings-menu li svg{
    padding-right: 8px;
  }
  .report-settings-menu li:hover{
    background: var(--bookmark-settings-hover);
    color: var(--li-color)
  }