
:root{
--suggestions-title : black;
--story-display-page-background : #f8f8f8;
}
.dark-theme-variables{
    --suggestions-title : white;
    --story-display-page-background : #0E1012;
}
.story-display-page-lets-go{
background-color: var(--story-display-page-background);
}
.story-display-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0% 10%;
    margin-left: 15%;
    padding-top: 2%;
    justify-content: center;
}
.author-display-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0% 10%;
    margin-left: 15%;
    padding-top: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    justify-content: center;
    color: var(--story-display-content-color);
}
.story-page-total-screen{
   padding-top: 10px;
}
.story-body-image-loader{
    width: 93%;
    border-radius: 10px;
    padding: 200px;
    object-fit: cover;
    background: var(--skeleton-background);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
            object-fit: cover;
            width: 93%;
            height: 30%;
            border-radius: 10px;
}
.litenote-suggestion-stories{
    margin: 0% auto;
    width: 800px;
}
.litenote-more-from-stories{
    margin: 0% auto;
    width: 800px;
    margin-bottom: 90px; 
}
.suggestion-title{
    text-align: center;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    text-decoration: bold;
    font-weight: 1000;
    color: var(--suggestions-title);
    margin-bottom: 20px;
}
.for-me-title{
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.4rem;
    text-decoration: bold;
    font-weight: 900;
    margin-top: 10px;
    color: var(--suggestions-title);
}
.for-me-author{
    padding-top: 20px;
}
.suggest-more-for-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: -5%;

    /* padding: 10px 200px; */
   
}
.suggestion-container{
    margin-top: 0px;
    padding-bottom: 100px;
}
.story-loaders{
    object-fit: cover;
    background: var(--skeleton-background);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
}
.story-loaders-info{
    width: 120px;
    height: 10px;
    margin: 3px 0px;
}
.story-display-avatar-loader{
    object-fit: cover;
    background: var(--skeleton-background);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
  width: 40px;
  height: 40px;
  margin-right: 5px;
            border-radius: 50%;
}
@media (max-width: 1200px) {
    .story-body-image-loader{
        padding: 150px;
    }
    .litenote-suggestion-stories{
        width: 550px;
    }
    .litenote-more-from-stories{
        width: 550px;
    }
}
@media (max-width: 768px) {
    .story-display-main{
        margin: 5% 5%;
    }
    
    .story-body-image-loader{
        padding: 100px;
    }
}


@media (max-width: 767px) {
    .suggest-more-for-me{
        grid-template-columns: 1fr;
    }
    .litenote-suggestion-stories{
        width: 300px; 
    }
    .litenote-more-from-stories{
        width: 300px;
    }
}
