
:root{
--calendar-background : #fff;
--calendar-hover-background : #f2f2f2; 
--day-active : #202528;
}
.dark-theme-variables{
    
--calendar-background : #202528;
--calendar-hover-background : #181A1E; 
--day-active : #00000066;
}
.calendar-wrapper{
    background: var(--calendar-background);
    width: 320px;
    border-radius: 10px;
    margin-left: -30px;
    margin-top:25px;
    box-shadow: #0000001A 0px 2px 5px 0px;
    font-family: "Poppins";
    padding-bottom: 3px;
}
.calendar-wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 0px;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
    
}
header .calendar-icons svg{
    height: 25px;
    width: 25px;
   color : #878787;
   font-size: 1.9rem;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    margin: 0 1px;
  
    border-radius: 50%;
}
header .current-date{
    font-size: 1.45rem;
   font-weight: 500;
}


header .calendar-icons svg:last-child{
    margin-right: -10px;
}
header .calendar-icons svg:hover{
    background: #f2f2f2;
}
.calendar{
    padding: 20px;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.calendar .days{
    margin-bottom: 10px;
   

}
.calendar .days li{
    cursor: pointer;
    /* margin-top: 30px; */
      margin-top: 18px; 
    z-index: 1;
  
}
.calendar .weeks li{
  
    font-weight: bolder;
    font-weight: 1000;
    font-family: "Poppins";
    

}
.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}
.calendar .days li::before{
    position: absolute;
    content:  "";
    height: 30px;
    width: 30px;
    top: 50%;
    left: 10%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  z-index: -1;
}
.calendar-day-active{
color: #ffff;
}
.calendar-day-inactive{
    color: #aaa; 
}
.more-calendar-details{
    display: flex;
    font-family: "Poppins";
    flex-direction: row;
    /* font-size: 2rem; */
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    
}
.more-today{
    font-size: 1.8rem;
}
.more-time{
    font-size: 1.3rem;
}
.more-calendar-time-details{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 3px;
}
.report-analytics-title{
display: flex;
justify-content: flex-start;
margin-left: 10px;
font-family: "Poppins";
margin-top: 5px;
margin-bottom: 5px;
}
.reports-analytics-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-top: 2px;
    margin-left:60px;
    
}
.reports-analytics-container-child{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
   
    
}
.reports-child-child{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.reports-child-child:first-child{
    color: #aaa;
}
.reports-analytics-container-child span{
    font-size: 1rem;
}
.days li:hover::before{
    background: #f2f2f2;
    background:var(--calendar-hover-background);
}
.days li.calendar-day-active::before{
    background:var(--day-active);

}



@media screen and (max-width:1200px) {
    .calendar-wrapper{
        background: var(--calendar-background);
        width: 350px;
        margin-left: 0px;
}
}