
:root{
    --error-title : black;
    --error-subtitle : black;
    --error-button-color : #FF5E62;
    --error-button-background :#F8F8F8;
}
.dark-theme-variables{
    --error-title : white;
    --error-subtitle : #757577;
    --error-button-color : #7380EC;
    --error-button-background :#0E1012;
}
.something-went-wrong{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: "Poppins";
     }
     .our-error-title{
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 43.2px;
      margin: 0px 0px 10px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     }
     .our-error-title-message{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.2rem;
     }
     .something-went-wrong h2{
        color: var(--error-title);
     }
     .error-title{
        font-size: 3rem;
        font-weight: 700;
        font-family: "Poppins";
        color: var(--error-title);
     }
     .something-went-wrong div{
        color: var(--error-subtitle);
     }
     .offline-button{
      outline: none;
      border: 1px solid var(--error-button-color);
      padding: 5px 10px;
      border-radius: 9999px;
      margin-top: 5px;
      cursor: pointer;
      color : var(--error-button-color);
      background-color: var(--error-button-background);
     }
      