:root{
--logout-icon : #FF5E62;
--logout-icon-background :#E5E5E5; 
}
.dark-theme-variables{
--logout-icon : #7380EC;
--logout-icon-background : #cfd4ff;
}
.logout-icon{
    color: var(--logout-icon);
    background-color: var(--logout-icon-background);
}