/* /* .hero-context{
    width:  100%;
    min-height:  100%;
    background: #eceaff;
    color : #525252;
} */

:root{
--sub-menu-background : #fff;
--sub-menu-items : #525252;
--sub-menu-title : 525252;
--sub-menu-hover : #eeee;
--logo-background : #e5e5e5
}
.dark-theme-variables{
    --sub-menu-background : #191d20;
    --sub-menu-items : #ffff;
    --sub-menu-title : white;
    --sub-menu-hover : rgba(0,0,0,0.4 );
    --logo-background : black
}
.sub-menu-wrap{
    width: 320px;
    transform: scale(0);
transform-origin: top right;
transition: transform 0.5s ease;
z-index: 1;

}
.sub-menu-wrap.active{
    transform: scale(1);
    position: absolute;
    

    z-index: 100000;
}
.sub-menu{
    background: var(--sub-menu-background);
    padding: 20px;
    margin: 10px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
box-sizing: border-box;
border-radius: 5px;
font-family: "Poppins", sans-serif;

}
/* .s:hover .bookmark-settings-menu{
    transform: scale(1);
    } */
.user-info{
    display: flex;
    align-items: center;
}
.user-info h4{
    color: var(--sub-menu-title);
    font-weight: 1000;
    white-space: nowrap;
}
.arrow-pointer{
    background: var(--sub-menu-background);
    position: absolute;
    width: 20px;
    height: 20px;
   transform: rotate(45deg);
   bottom: 332px;
   left: 268px;
}
.navbar-context-profile-photo-home{
width: 40px;
background: #e5e5e5;
border-radius: 50%;
margin-right: 10px;
padding: 8px;
}
.sub-menu hr{
    border: 0;
    height: 3px;
    width: 100%;
    background: #ccc;
    margin: 5px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color : var(--sub-menu-items);
    margin: 3px 0; 
    padding: 3%;
}

.sub-menu-link:hover{
    background-color:  var(--sub-menu-hover);
}
.sub-menu-link p{
    width: 100%;
    font-weight: 500;
    /* font-size: 15px; */
}
.sub-menu-link .imags{
    width: 50px;
    background: var(--logo-background);
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

}
.sub-menu-link span{
    font-size: 22px;
    color: #525252;
    transition: transform 0.5s;
  
}
.sub-menu-link:hover span{
    transform: translateX(5px);

}
.sub-menu-link:hover p{
font-weight: 600;
} 
.close-topper{
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    color: black;
    margin-left: 5px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 4px;
    margin-bottom: 2%;
   
    
   
}

