:root{
--litenote-special-modal-background-modal : #f5f5f5;
--litenote-special-modal-background-modal-color : #222;
}
.dark-theme-variables{
    --litenote-special-modal-background-modal : #202528;
    --litenote-special-modal-background-modal-color : white;
}

.litenote-special-modal .center {
    position:fixed;
    top:-50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.litenote-special-modal{
position: absolute;
left: 10px;
}
.litenote-special-modal .popup {
    width:350px;
    height:300px;
    padding:30px 20px;
    background: var(--litenote-special-modal-background-modal);
    color: var(--litenote-special-modal-background-modal-color);
    border-radius: 10px;
    box-sizing:border-box;
    overflow-y: scroll;
    font-family: "Poppins";
    z-index:6;
    text-align: center;
    box-shadow: #00000040 -10px 10px 40px 0px;
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%)  scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
}
.litenote-special-modal .popup::-webkit-scrollbar{
    width:  0px;
}
.litenote-special-modal .popup.active {
    opacity: 1;
    top: 50%;
    transform:translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.10,0.09,0.43,1.19);
}

.litenote-special-modal .popup .btn {
   margin:5px 0px;
   width: 50px;
   height: 50px;
   border:2px solid #34f234; 
   text-align:center;
   display: inline-block;
   border-radius:50%;
   line-height: 60px;
}

.litenote-special-modal .popup .icon .i.fa {
    font-size: 30px;
    color: #34f234;;
}
.litenote-special-modal .popup .title {
   margin: 5px 0px;
   font-size: 30px;
   font-weight:600;
   color: black;
}

.litenote-special-modal .popup .description {
     color: #222;
     color: var(--litenote-special-modal-background-modal-color);
     font-size:15px;
     padding: 5px;
}
  .litenote-special-modal .popup .dismiss-btn {
    margin-top: 25px;
}
  .litenote-special-modal .popup .dismiss-btn button {
  padding: 10px 20px;
  background:#111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
}
.litenote-special-modal .popup .dismiss-btn button:hover {
    color: #111;
    background: #f5f5f5;
}
.litenote-special-modal .popup > div {
    position: relative;
    top: 10px;
    opacity: 0;
}
.litenote-special-modal .popup.active > div {
    top: 0px;
    opacity: 1;
}
.litenote-special-modal .popup.active .icon {
   transform: all 300ms ease-in-out 250ms;
}
.litenote-special-modal .popup.active .title {
   transform: all 300ms ease-in-out 300ms;
}
.litenote-special-modal .popup.active .description{
   transform: all 300ms ease-in-out 350ms;
}
.litenote-special-modal .popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}