:root{
--filter-by-category-color : black;
--general-tabs-color : black;
--publish-tabs-background : #FFFFFF;
}
.dark-theme-variables{
    --filter-by-category-color : white;
    --general-tabs-color : white;
	--publish-tabs-background : #00000066;

}
.litenote-stories-sBtn-text{
color: var(--filter-by-category-color);
}
.litenote-angle-down{
    color: var(--filter-by-category-color);
}
.publish-tabs-number{
    background-color: #7380EC;
    align-items: center;
	border-radius: 50%;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: flex;
	font-family: Poppins, sans-serif;
	font-size: 12px;
	justify-content: center;
	line-height: 18px;
    margin-left: 5px;
padding: 5px 10px;
	text-align: left;
	transition: 0.15s ease-in;
	user-select: none;
}
.publish-tabs{
      border-radius: 99px;
      /* box-shadow: #0000001A 0px 0px 15px 0px; */
      box-sizing: border-box;
      display: flex;
      padding: 10px;
      position: relative;
      user-select: none;
      /* box-shadow: var(--box-bookmark-slider--shadow); */
      background-color:var(--publish-tabs-background);
      	/* background-color: #FFFFFF;
	border-radius: 99px;
	box-sizing: border-box;
	display: flex;
	padding: 9px 0px 9px 9px;
	position: relative;
	user-select: none; */
  }
/* litenote.app */