
:root{
  --total-navbar-background : #fff;
  --total-navbar-color : #ff9966;
  --total-navbar-box-shadow  : 0 2px 5px rgba(0, 0, 0, 0.1); 
  --navbar-header-links-lite-note-color : black;
  --navbar-colors : #ff9966;
  --navbar-colors-active : #333;
  --navbar-notification-icon: black;
}
.dark-theme-variables{
  --total-navbar-background :#202528;
  --total-navbar-color : white;
  --total-navbar-box-shadow  :  #00000066 0px 12px 12px 0px; 
  --navbar-header-links-lite-note-color : white;
  --navbar-colors : #7380EC;
  --navbar-colors-active : white;
  --navbar-notification-icon: white;
}
.navbar-notification-icon{
color: var(--navbar-notification-icon);
}
.navbar-header {
  background-color: var(--total-navbar-background);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: var(--total-navbar-box-shadow);
}

.navbar-nav-navbar {
  display: flex;
  align-items: center;
}

.navbar-logo .navbar-header-links {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}
.navbar-nav-links{
  width: 950px;
}
.navbar-nav-links .navbar-header-links {
  margin-left: 20px;
  color:var(--navbar-colors);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-nav-links .navbar-header-links:hover,
.navbar-nav-links .navbar-header-links.navbar-active {
  color: var(--navbar-colors-active);
}
.litenote-nav-sidebar-aside{
  height:100vh;
  font-family: "Poppins", sans-serif;
/*   background-color: grey; */
}



/* ---------side bar-------------- */

.nav-user-info{
  display: flex;
  margin-left: 2rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  text-decoration: none;
}
.nav-user-info h4{
  color: var(--sub-menu-title);
  font-weight: 1000;
  white-space: nowrap;
}

.litenote-nav-sidebar-aside h3{
font-weight: 500;
font-size: 1rem;
}
.litenote-nav-sidebar-aside  .navside .nav-sidebar-link{
display: flex;
color: var(--color-info-dark);
margin-left: 1rem;
gap: 1rem;
align-items: center;
position: relative;
height: 3.7rem;
transition: all 300ms ease;
text-decoration: none;
}

.litenote-nav-sidebar-aside  .navside .nav-sidebar-link svg {
  font-size: 1.6rem;
  transition: all 300ms ease ;
}
.litenote-nav-sidebar-aside  .navside .nav-sidebar-link:last-child{
position: absolute;
bottom: 2rem;
width: 100%;
} 
.litenote-nav-sidebar-aside  .navside .nav-sidebar-link.active {
background: var(--color-light);
color: var(--color-primary);
margin-left: 0;
} 
.litenote-nav-sidebar-aside  .navside .nav-sidebar-link.active::before {
content: "";
width: 6px;
height: 100%;
background:var(--color-primary);
} 
.navbar-context-profile-photo-home, .profile-photo-homer{
 width: 100px; 
 height: 40px;
  border-radius: 50%; 
  object-fit: cover; 
  cursor: pointer;
 
}
.litenote-nav-sidebar-aside  .navside .nav-sidebar-link.active svg {
color: var(--color-primary);
margin-left: calc(1rem - 3px);
} 
.litenote-nav-sidebar-aside  .navside .nav-sidebar-link.hover  {
  /* color: var(--color-primary); */
} 
.litenote-nav-sidebar-aside  .navside .nav-sidebar-link:hover svg {
margin-left:1rem ;
} 
.litenote-nav-sidebar-aside  .navside .message-count {
background: var(--color-danger);
color: var(--color-white);
padding: 2px 10px; 
font-size: 11px ;
border-radius: var(--border-radius-1);
} 



   .litenote-nav-sidebar-aside  .navside .nav-sidebar-link{
 display: flex;
 color: var(--color-info-dark);
 margin-left: 3rem;
 gap: 1rem;
 align-items: center;
 position: relative;
 height: 4.5rem;
 transition: all 300ms ease;
 text-decoration: none;
 

}
.react-hamburger{
  color : var(--navbar-header-links-lite-note-color);
  transform: scale(0.8);
}

    /* .litenote-nav-sidebar-aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 20rem;
        z-index: 3;
        box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
        height: 220vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showNavSideMenu 400ms ease forwards;
    } */
    /* .litenote-nav-sidebar-aside-close{
    left: 0%;
    animation: closeNavSideMenu 900ms ease forwards;
    } */
    @keyframes showNavSideMenu {
        to{
            left: 0%;
        }
        
    }
    @keyframes closeNavSideMenu {
        to{
            left: -100%;
        }
    }
    
    
    
    .litenote-nav-sidebar-aside .logo{
        margin-left: 1rem;
    }
    .defaultavatar{
  
        background-color: #E5E5E5;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        fill: #525252;
        
        overflow: hidden;
        padding: 10px;
        vertical-align: middle;
      
    }
    .litenote-nav-sidebar-aside .logo h2{
       display: inline;
    }
    .litenote-nav-sidebar-aside .navside h3{
       display: inline;
    }
    .litenote-nav-sidebar-aside .navside a{
    height:3.4rem;
    width: 100%;
    }
    .litenote-nav-sidebar-aside .navside a:last-child{
    position: absolute;
    bottom: 9rem;
    }
    .litenote-nav-sidebar-aside .close{
    display: inline-block;
    cursor: pointer;
    }

  .close-nav-sidebar{
  position: absolute;
  top: 80px;
  right: 240px;

  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  font-family: "Poppins";
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  box-shadow: #00000014 0px 2px 4px 0px, #00000014 0px 4px 12px 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform 0.1s cubic-bezier(0, 0, 0.38, 0.9) 0.4s;
  
  }

  .navbar-phone-problem-home-page{
    display: flex;
    flex-direction:column ;
    height: 85vh;
    position: fixed;
    top: 1.8rem;
    
  }



   .litenote-nav-theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    /* width:3.2rem; */
    width:4rem;
    /* margin-left: 18px; */
    cursor: pointer;
    border-radius: var(--border-radius-1);
   }
  .litenote-nav-theme-toggler span{
   font-size: 1.2rem;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   }
   .litenote-nav-theme-toggler span.active{
  background: var(--color-primary);
  color: #fff;
  border-radius: var(--border-radius-1);
   }
   .donot-spoil-my-work{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--skeleton-background);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
   }


   @media screen and (max-width:1200px) {
    .navbar-nav-links{
      width: 500px;
    }
   }
 


   .litenote-nav-sidebar-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 65vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform;
}
.litenote-nav-sidebar-aside.open {
  transform: translateX(0);
}
