


:root{
--search-input-root : white;
--search-input-color : black;
--search-input-box-shadow : rgba(0, 0, 0, 0.18);
}
.dark-theme-variables{
  --search-input-root : #181a1e;
  --search-input-color : white;
  --search-input-box-shadow :    rgba(132,139,200,0.18);
}
.search-container {
    width: 100%;
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .search-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    font-size: 1rem;
  }
  
  .clear-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .search-input {
    width: 100%;
    padding: 1rem 2.5rem; /* vertical padding + space for icons */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 12px;
    border: 0.8px solid black;
    outline: none;
    background-color: var(--search-input-root);
    border: 1px solid var(--search-input-box-shadow);
    color: var(--search-input-color);
  }

  @media (max-width: 768px) {
    .search-container {
margin: 0 auto;
    }
  }
  