
:root{
  --comment-input-section-background : #F2F2F2;
  --comment-submit-button : #FF5E62;
  --comment-badge : #f9d4d5;
  --comment-badge-color : #FF5E62;
}
.dark-theme-variables{
  --comment-input-section-background : #181A1E;
  --comment-submit-button : #7380EC;
  --comment-badge : #c9ceff;
  --comment-badge-color : #7380EC;;
}
.comment-input-section{
    width: 100%;
    max-width: 100%;
        max-height: 40vh;
    background-color:var(--comment-input-section-background);
    margin: 0px;
    text-align: justify;
    padding-bottom: 20px;
    outline: none;
    border: none;
    color: #555555;
    border: 1px solid #7777;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 8px;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.comment-input{
    outline: none;
    border: none;
    border: none;
  background: transparent;
  outline: none;
  resize: none;
  color: #555555;
}
.comment-editors{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
}
.comment-input:empty::before {
    content: attr(data-placeholder);
    color: #888;
    pointer-events: none; /* Prevent placeholder from being selectable */
    display: block;
  }
  .comment-input-section-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .comment-submit-button{
    align-items: flex-start;
    outline: none;
    border: none;
    color: white;
font-size: 13px !important;
	background-color: var(--comment-submit-button);
	border-radius: 9999px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
  }
  .comments-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .comment-badge{
    background-color: var(--comment-badge);
    border-radius: 9999px;
    padding: 1px 15px;
    color: var(--comment-badge-color);

  }
  .comment-list{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
  }
  .comment-card-container{
    display: flex;
    flex: row;
    padding: 10px 0px;

  }
  .comment-card-container-second-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  .comment-card-container-second-section-title{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 10px;
    font-size: 0.9rem;
  }
  .comment-card-container-second-section-body{
    font-size: 1rem;
  }
  .emoji-picker-container{
    position: absolute;
  }
  .comment-show-more{
    color: var(--comment-submit-button);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 30px;
  }
  @media (max-width: 768px) {
    .comment-show-more{
      padding-top: 10px;
    }
  }