/* Drawer Trigger */
.drawer-trigger {
  position: relative;
  display: flex;
  height: 2.5rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
  border-radius: 9999px; /* Fully rounded */
  background-color: #ffffff;
  padding: 0 1rem;
  font-size: 0.875rem; /* Text-sm */
  font-weight: 500; /* Font-medium */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Shadow-sm */
  transition: all 0.2s;
}

.drawer-trigger:hover {
  background-color: #fafafa;
}

.drawer-trigger.dark {
  background-color: #161615;
  color: #ffffff;
}

.drawer-trigger.dark:hover {
  background-color: #1a1a19;
}

/* Drawer Overlay */
.drawer-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Drawer Content */
.drawer-content {
  background-color: #f3f4f6; /* Gray-100 */
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  z-index: 1100;
  margin-top: 6rem; /* 24px */
  /* height: 80%;  */
  /* Default height */
  /* max-height: 320px;  */
  /* lg:h-[320px] */
  height: 70vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Shadow-sm */
  outline: none;
}

/* Drawer Header */
.drawer-header {
  padding: 1rem; /* 4 */
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Shadow-sm */
  box-shadow: #00000040 -10px 10px 40px 0px;
  flex: 1;
  overflow-y: auto;/* Enable scrolling */
}

/* Drawer Header Divider */
.drawer-header-divider {
  width: 3rem; /* 12 */
  height: 0.375rem; /* 1.5 */
  margin-bottom: 2rem; /* 8 */
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  background-color: #d1d5db; /* Gray-300 */
  border-radius: 9999px;
}

/* Drawer Title */
.drawer-title {
  font-weight: 500; /* Medium */
  margin-bottom: 1rem; /* 4 */
  color: #1f2937; /* Gray-900 */
}

/* Drawer Text */
.drawer-text {
  color: #6b7280; /* Gray-600 */
  margin-bottom: 1rem; /* Space between paragraphs */
}

/* Spacing Utility */
.drawer-spacing {
  margin-top: 1rem; /* Space between elements */
}
