.story-display-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0% 10%;
    padding-top: 5%;
    justify-content: center;
}
@media (max-width: 768px) {
    .story-display-main{
        margin: 5% 5%;
    }
}