:root {
    --root-first-color : hsl(var(--hue), var(--sat), 40%);
    --feed-main-content-background : #F8F8F8;
    --feed-sidebar-background : white;
    --total-feed-background : #F8F8F8;
    --feed-right-sidebar-background : white;
    --feed-headin: #a3a3a3;
    --feed-heading-active: #ff5e62;
    --feed-headin-border-bottom: #ff5e62;
    --feed-right-sidebar-color : black;
    --feed-topic-background : #f0f0f0;
    --feed-topic-color : black;
    --feed-follow-button-background : white;
    --feed-behind-background : #f5f5f5;
    --feed-follow-button-border : #ff4500;
    --feed-follow-button-color : #ff4500;
    --feed-sidebar-icon : #F5F5F5;
    --feed-sidebar-icon-color : black;
    --feed-card-background : white;
    --feed-card-color : black;
    --feed-logo-color : black;
    --feed-first : #ff4500;
    --feed-header : #ff4500;
    --list-view-text : black;
    --searcher : white;
    --searcher-border : #e0e0e0;
    --searcher-placeholder : black;
    --searcher-color : black;
    --icon-color : #757575;
    --visibility-icon : black;
    --like-icon : #E0245E;
    --action-icons-text : black;
    --feed-sidebar-box-shadow : #0000001A 0px 2px 5px 0px;
}
.dark-theme-variables{
    --icon-color : white;
    --visibility-icon : white;
    --like-icon : #E0245E;
    --searcher : #181A1E;
    --action-icons-text : white;
    --searcher-border : #181A1E;
    --searcher-placeholder : #1A2D42;
    --feed-topic-background : #181A1E;
    --feed-main-content-background : #0E1012;
    --feed-sidebar-background : #181A1E;
    --total-feed-background : #0E1012;
    --feed-right-sidebar-background :#111316;
    --feed-right-sidebar-color : white;
    --feed-topic-color : #7380EC;
    --feed-behind-background : #181A1E;
    --feed-follow-button-background : #181A1E;
    --feed-follow-button-border : white;
    --feed-follow-button-color : white;
    --feed-sidebar-icon : #0E1012;
    --feed-sidebar-icon-color : white;
    --feed-card-background : #181A1E;
    --feed-headin-border-bottom: white;
     --feed-heading-active: #526cdf;
     --feed-headin: white;
    --feed-card-color : white;
    --feed-logo-color : white;
    --feed-first : #7380EC;
    --feed-header : white;
    --searcher-color : white;
    --list-view-text : white;
    --feed-sidebar-box-shadow : #00000066 0px 12px 12px 0px;


}
.total-feed{
    background-color: var(--total-feed-background);
}

.feed-sidebar {
    width: 60px;
    background-color: var(--feed-sidebar-background);
    padding: 20px 0;
    display: flex;
    
    
    flex-direction: column;
    
    align-items: center;
    position: fixed;
    height: 100vh;
   justify-content: space-between;
   box-shadow: var(--feed-sidebar-box-shadow)
}
.phone-feed-nav{
    display: none;
}
.trendy-story-image{

     width: 100%;
      height: 150px;
       background-size: cover;
        background-position: center;
         margin-top: 10px;
          border-radius: 5px;
}
.feed-sidebar-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.feed-main-content {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin-left: 60px;
    font-family:  "Poppins";
    padding-bottom: 100px;
    background-color: var(--feed-main-content-background);
}
.feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.feed-logo {
    font-size: 24px;
    color: var(--feed-logo-color);
    font-weight: bold;
}
.feed-tabs {
    margin-bottom: 20px;
    white-space: nowrap;
    overflow-x: auto;
}
.feed-tabs span {
    margin-right: 20px;
    color: var(--feed-header);
    cursor: pointer;
}
.feed-tabs span:first-child {
    color: #000000;
    font-weight: bold;
}
.feed-tabs span.active{
    color : #7380EC;
}
.feed-search-bar {
    padding: 10px;
    width: 100%;
    border: 1px solid var(--searcher-border);
    border-radius: 20px;
    margin-bottom: 10px;
    color: var(--searcher-color);
    outline: none;
    padding-left: 30px;
    font-size: 15px;
    background-color: var(--searcher);
}
.feed-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.feed-card {
    background-color: var(--feed-card-background);
    color: var(--feed-card-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.feed-card-image {
    height: 200px;
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    width: 400px;
}
.feed-card-image-real {
    height: 200px;
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
	display: inline;
	object-fit: cover;
	transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	transition: transform 0.3s ease-in-out;
	vertical-align: middle;
}
.feed-card-content {
    padding: 15px;
}
.feed-card-tag {
    color: #2196F3;
    font-size: 12px;
    margin-bottom: 10px;
}
.feed-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.feed-card-meta {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 4px;
}
.feed-card-meta img{ 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.feed-man{
    width: 35px;
     height: 35px;
    border-radius: 50%; 
    object-fit: cover;
}
.feed-behind{
     background-color: var(--feed-behind-background);
    border-radius: 20px;
    align-items: center;
    font-family: "Poppins";
    padding: 30px;
}
.feed-right-sidebar {
    width: 360px;
    padding: 20px;
    background-color: var(--feed-right-sidebar-background);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    box-shadow: #0000001A 0px 2px 5px 0px;
    overflow-y: auto;
    color: var(--feed-right-sidebar-color);

}

.feed-right-sidebar::-webkit-scrollbar{
    width:  0px;
    display: none;
}
.feed-follow-suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap : 5px;
    cursor: pointer;
}
.feed-follow-suggestion img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.feed-first{
    color: var(--feed-first);
    cursor: pointer;
}
.feed-follow-button {
    background-color: var(--feed-follow-button);
    border: 1px solid var(--feed-follow-button-border);
    color: var(--feed-follow-button-color);
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: auto;
    cursor: pointer;
}
.feed-trendy-story {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
    justify-content: space-between;
    cursor: pointer;
}
.feed-trendy-story .story-picture-trending {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
}

.feed-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.feed-topic {
    background-color: var(--feed-topic-background);
    color: var(--feed-topic-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 12px;
}
.feed-topic.active{
    background-color: var(--feed-topic-color);
    color: white;
}
/* .phone-feed-nav{
    display: none;
} */

.feed-right-sidebar ::-webkit-input-placeholder {
    /* WebKit browsers (Chrome, Safari, etc.) */
  color: var(--searcher-placeholder);
  color: #757575;
}

.feed-sidebar-icon {
    cursor: pointer;
    }
.feed-box-search{
    --padding : 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
}
.feed-box-search-input{
    font-size: 16px;
    font-family: "Poppins";
    color: #333333;
    margin-left: 14px;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
}
.feed-profile-images-trending{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.feed-profile-images-following{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.galacticus{
    box-shadow: #0000001A 0px 2px 5px 0px;
    display: none;
    
}
  .feed-loaders{
    object-fit: cover;
    background: var(--skeleton-background);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
   }

   .feed-loaders-picture{
    width: 90px;
    height: 90px;
   }
   .feed-loaders-avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
   }

   .feed-loaders-name{
    width: 80px;
    height: 10px;
   }
   .feed-loaders-bio{
    width: 40px;
    height: 10px;
   }
   .feed-loaders-title{
    width: 45vw;
    height: 15px;
   }
   .feed-loaders-first{
    width: 45vw;
    height: 15px;
   }
   .feed-loaders-second{
    width: 30vw;
    height: 15px;
   }
   .feed-loaders-date{
    height: 15px;
    width: 40px;
   }
   .feed-loaders-time{
    height: 15px;
    width: 40px;
   }
   .feed-loader-avatar{
  padding: 15px;
    border-radius: 50%; 
   }
   .feed-loaders-trending-picture{
    width: 60px;
    height: 46px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
}
.feed-loaders-trending-title{
    width: 40vh;
    height: 9px;
}
.feed-loaders-trending-continuation{
    width: 35vh;
    height: 9px;
}
.feed-loaders-follow-text{
    width: 10vw;
    height: 10px;
}
.feed-loaders-follow-subtext{
    width: 10vw;
    height: 10px;
}
.feed-loaders-follow-button{
    width: 4vw;
    height: 4vh;
    border-radius: 5px;
}
   .feed-left-sidebar-avatar{
    width: 10%;
   }
.feed-list-view{
    margin-top: 10px;
}
.feed-list-view-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Poppins";
    padding: 15px 10px;
}
.list-view-card-first-section{
    display: flex;
    color: var(--list-view-text);
    flex-direction: column;
}
.list-view-card-profile-section img{
width: 5%;
border-radius: 50%;
}
.list-view-card-story-section{
    margin-top: 5px;
    font-family:  "Poppins";
    color: var(--list-view-text);
}
.list-view-card-second-section img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.feed-list-view-card-bottom{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchX{

    transform: translate(-20px, -5px);
}
.search-mag{
    transform: translate(25px, -5px);
}
.search-magphone{
transform: translateX(25px);
color: var(--searcher-color);
}
.searchXphone{
    transform: translateX(-20px);
    color: var(--searcher-color);
}







@media (max-width: 1024px) {
    .feed-right-sidebar {
        display: none;
    }
    .feed-main-content {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .list-view-card-profile-section img{
        width: 10%;
        border-radius: 50%;
        }
        .feed-loaders-title{
            width: 52vw;
           }
           .feed-loaders-first{
            width: 52vw;
           }
    .feed-sidebar{
        display: none;
    }
    .galacticus{
        box-shadow: #0000001A 0px 2px 5px 0px;
        display: block;
    }
 .phone-feed-nav{
    display: block;
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    background-color: hsl(225, 12%, 12%);
    width: 88%;
    margin-inline: auto;
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 1rem 1.75rem;
    border-radius: 4rem;
    z-index: 100;
 }
 .phone-feed-nav-list{
    display: flex;
    justify-content: space-between ;
    align-items: center;
 }
 .phone-feed-nav-link{
    color: hsl(225, 8%, 65%);
 
    font-size: 1.5rem;
    transition: color .4s;
 }
 .phone-feed-nav-link:hover{
    color : hsl(0, 0%, 100%);
 }

    .feed-sidebar-icon {
    cursor: pointer;
    }
    .feed-main-content {
        margin-left: 0;
        padding: 10px;
    }
    .feed-grid {
        grid-template-columns: 1fr;
    }
    .feed-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .feed-search-bar {
        width: 100%;
        margin-top: 10px;

    }
}
.phone-feed-sidebar-nav-link{
    cursor: pointer;
    text-decoration: none !important;
    color : hsl(174, 8%, 35%) !important
}
.phone-feed-sidebar-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--feed-sidebar-background);
    width: 100%;
    z-index: 100;
    height: 7rem;
    padding: 1rem 1rem;
    display: grid;
    align-items: center;
    /* border-radius: 1.25rem 1.25rem 0 0; */
    transition: .4s;
    box-shadow: #0000001A 0px 2px 5px 0px;
    box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
}


.phone-feed-sidebar-list, .phone-feed-sidebar-nav-link{
    display: flex;
    
}
.phone-feed-sidebar-nav-link{
    flex-direction: column;
    align-items: center;
    row-gap: .30rem;
    color: hsl(var(174), var(63%), 36%);
    font-weight: 600;
}
.phone-feed-sidebar-list{
    justify-content: space-between;
    align-items: center;
}
.phone-feed-sidebar-nav-name{
    font-size: .900rem;
    color: var(--icon-color);
}
.toolman{
    font-size: 4rem;
}
.phone-feed-sidebar-icon{
    font-size: 1.5rem;

}
.phone-active-link{
    position: relative;
    color: #333333 !important;
    transition: .3s;
}
.active-structure svg{
    color :  #7380EC;

}
.active-structure span{
    color :  #7380EC;

}

.litenote-feed-theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-self: flex-end;
    height: 1.6rem;
    /* width:3.2rem; */
    width:3rem;
    /* margin-left: 18px; */
    cursor: pointer;
    border-radius: var(--border-radius-1);
   }
  .litenote-feed-theme-toggler span{
   font-size: 1.2rem;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   }
   .litenote-feed-theme-toggler span.active{
  background: var(--color-primary);
  color: #fff;
  border-radius: var(--border-radius-1);
   }
   .feed-tab{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 10px;
   }
   .feed-heading{
    color: var(--feed-headin);
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
   }
   .feed-heading.active{
    color: var(--feed-heading-active);
    border-bottom: 2px solid var(--feed-headin-border-bottom);
   }
   @media (max-width: 768px) {
    .feed-tab{
        justify-content: space-between;
    }
   }




