
:root{
  
    --inner-wow : #ffff;
    --color-nner : black;
}
.dark-theme-variables{
    --inner-wow : #202528;
    --color-nner : #fff;
}
.litenote-circular-progress .container{
    /* background: #ffff; */
}
.litenote-circular-progress .circular-progress{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.litenote-circular-progress .circular-progress::before{
    content: "";
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: var(--inner-wow);
    border-radius: 50%;
}
.litenote-circular-progress .progress-valueman{
    position: relative;
    background-color: transparent;
    color: black;
    accent-color: transparent;

    font-size: 10px;
    font-weight: 600;
    color: var(--color-nner);
}