:root{
  --report-modal-button : #e63946;
  --report-modal-button-hover : #d62828; 
  --report-textarea-border : #ccc;
  --report-textarea-background : white;
  --report-textarea-color : black;
}
.dark-theme-variables{
  --report-modal-button : #526cdf;
  --report-modal-button-hover : #7086e7; 
  --report-textarea-border : #526cdf;
  --report-textarea-background : #080a0b;
  --report-textarea-color : white;
}
  .report-someone-textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 2px solid var(--report-textarea-border);
    background: var(--report-textarea-background);
    color: var(--report-textarea-color);
    font-size: 14px;
    resize: vertical;
    resize: none;
    min-height: 150px;
  }
  .report-someone-textarea:focus {
    border: 2px solid var(--report-textarea-border);
    background: var(--report-textarea-background);
    outline: none; /* optional: removes the blue outline */
  }
 
  .report-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cancel-btn,
  .submit-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #ccc;
    color: #333;
  }
  
  .cancel-btn:hover {
    background-color: #bbb;
  }
  
  .submit-btn {
    background-color: var(--report-modal-button);
    color: white;
  }
  
  .submit-btn:hover {
    background-color: var(--report-modal-button-hover);
  }
  