.litenote-tooltip{
    position: relative;
    cursor: pointer;
    border-bottom: 2px dotted;
    padding: 7px;
    font-size: 25px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
}
.litenote-tooltip-text{
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;

}
.litenote-tooltip-text::before{
    content:  "";
    position: absolute;
    left : 50%;
    top : 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #0000 #0000 #0000 #0000;
}
.litenote-tooltip:hover .litenote-tooltip-text{
    top: -130%;
    visibility: visible;
    opacity: 1;
}