
:root{
--like-follow-button : #FF5E62;
--likes-title-color : #1f2937;
}
.dark-theme-variables{
    --likes-title-color : white;
    --like-follow-button : #6D80EC;
}
.likes-title{
    font-weight: 500; /* Medium */

    color: var(--likes-title-color); /* Gray-900 */
}
.likes-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
    justify-content: space-between;
}
.like-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 5px 0px;
}
.like-follow-button{
        align-items: flex-start;
        appearance: button;
        background-color: var(--like-follow-button);
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        padding: 10px 30px;
        border: none;
        outline: none;
        color: white;
        transform: matrix(1, 0, 0, 1, 0, 0);
}
.likes-avatar{
    width: 5%;
    border-radius: 50%;
    border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	vertical-align: middle;
}
.likes-loader{
    object-fit: cover;
    background: var(--skeleton-background);
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
  }
 .likes-loader-username{
    width: 50px;
    height: 10px;
  }
  .likes-loader-bio{
    width: 100px;
    height: 10px;
  }
  .likes-loader-button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
  }
  .like-card-loader{
    padding: 5px 0px;
  }
  .likes-loader-avatar{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
   }
   .likes-avatar{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
   }
   .likes-profile-section{
display: flex;
flex-direction: row;
justify-content: space-between;

align-content: center;
   }
   .likes-profile-section-details{
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: flex-start;
text-align: justify;
   }
   @media (max-width: 767px) {
   /* .likes-title{
    display: none;
    
   } */
   .like-follow-button{
    padding: 10px 30px;
   }
   .like-card{
    padding: 10px 0px;
   }

}