:root{
    --box-bookmark-slider--shadow:  #0000001A 0px 0px 15px 0px;
    --glider : var(--color-light);
    --taboss : white;
    --general-tabs-color : black;
}
.dark-theme-variables{
    --box-bookmark-slider--shadow: 2px 6px 21px -2px rgba(0,0,0,0.75);
    --glider : white;
    --taboss : #191D20;
    --general-tabs-color : white;
}
.bookmark-tabs-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 10px;
    
}
.bookmark-tabs{
    /* background-color: #00000066; */
    box-shadow: var(--box-bookmark-slider--shadow);
    padding: 10px;
    border-radius: 5rem;
    padding: 10px;
    display: flex;
    position:  relative;
    background-color: var(--taboss);
}
input[type = "radio"]{
    display: none;
}
.tab-label{
    display: block;
    height: 55px;
    width: 200px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* z-index: 2; */
}
.glider{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-primary);
    /* background: var(--color-light); */
 z-index: 0;
    background: var(--glider);
    background: whitesmoke;
    width: 200px;
    height: 55px;
    border-radius: 2rem;
    transition: ease .3s ;
}
@media screen and (max-width:765px) {
    .bookmark-tabs-wrapper{
       animation: relative;
    }
}

@keyframes slideright{
    from{
transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideleft{
    from{
transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}