:root{
  --box-bookmark--shadow: #0000001A 0px 2px 5px 0px;;
  --bookmark-card : #fff;
  --bookmark-settings : #fff;
  --bookmark-settings-hover : #f5f5f5;
  --li-color : #6d6d6d;
}
.dark-theme-variables{
  --box-bookmark--shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  --bookmark-card :  #202528;
  --bookmark-settings :rgba(0,0,0,0.4 );
  --bookmark-settings-hover : var(--color-light);
  --li-color : #7380EC;
}
.litenote-browse-bookmark-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    /* margin-top: 40px; */
    font-size: 10px;
  }
  .bookmark-card-button{
    color: #666;
    float: right;
  }
  .line-divider{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  }
  .bookmark-buttom{
    /* display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center;
   align-items: center;
   white-space: nowrap; */
   display: flex;
   flex-direction: row;
   gap: 220px;
   align-items: flex-end;
   justify-content:center;

  }
  .litenote-browse-bookmark-card {
    background-color: var(--bookmark-card);
   
    box-shadow: var(--box-bookmark--shadow);
    border-radius: 5px;
    padding: 20px;
 
    animation: slideUp 0.5s ease;
   
    height: 250px;
    font-size: 15px;
  }
  
  .litenote-browse-bookmark-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
  
  }
  
  .litenote-browse-bookmark-card p {
    color: #666;
    line-height: 20px;
  }
  .litenote-bookmark-title{
margin-top: 20px;
  }
  .litenote-bookmark-title h4{
    font-weight: 700;
    margin-bottom: 20px;
  }
  .bookmark-settings{
    position: relative;
  }
  .bookmark-settings .bookmark-settings-menu{
    position: absolute;
    right: -5px;
    bottom: 0;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    padding: 5px 0;
    background: var( --bookmark-settings);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
  }
  .bookmark-settings:hover .bookmark-settings-menu{
    transform: scale(1);
  }
  .bookmark-settings .bookmark-settings-menu li{
    height: 25px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: flex-start;
height: 25px;
border-radius: 0;
padding: 17px 15px;
color: #6d6d6d;
  }
  .bookmark-settings-menu li svg{
    padding-right: 8px;
  }
  .bookmark-settings-menu li:hover{
    background: var(--bookmark-settings-hover);
    color: var(--li-color)
  }