/* This is for the feed card loader*/
.list-view-card-second-section div{
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}
.skeleton-image-avatar{
    width: 5%;
border-radius: 50%;
width: 40px;
height: 40px;
object-fit: cover;
overflow: hidden;
}
.skeleton-image-author{
    width: 70px;
    height: 10px;
}
.skeleton-image-bio{
    width: 50px;
    margin-top: 5px;
    height: 10px;
}
.skeleton-image-title{
width: 40vw;
height: 15px;
}
.skeleton-image-first{
    width: 50vw;
    height: 15px;
    }
    .skeleton-image-second{
        width: 50vw;
        height: 15px;
        }
        .skeleton-image-third{
            width: 20vw;
            height: 15px;
            }