:root{
    --note-background : white;
    --note-settings-background :  #fff;
    --note-settings-color : black;
    --note-setings-hover : #f5f5f5;
    --note-card-background : #FFFFFF;
}
.dark-theme-variables{
    --note-background : #00000066;
    --note-settings-background :  #202528;
    --note-settings-color : #ffff;
    --note-setings-hover  : #00000066;
    --note-card-background : #0E1012;
}
.note-preview-card{
	background-color: var(--note-card-background);
	border-radius: 5px;
	box-shadow: #0000001A 0px 2px 5px 0px;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    gap: 20px;
	list-style: outside none none;
	padding: 40px 30px 30px;
	user-select: none;
    border-radius: 18px;
}
.note-preview-card-image-section{
    align-items: center;
	background-color:#E6EEF9;
	border-radius: 9999px;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	justify-content: center;
	overflow: hidden;
    padding: 30px;
	scroll-behavior: smooth;
}

.note-preview-card-title{
    font-size: 1.3rem;
    font-weight: 700;
}
.note-preview-card-second-title{
    font-size: 1.2rem;
}
.note-preview-card-third-title{
    font-size: 1rem;
    color: #A3B2C7
}


.user-notes-search-wrapper{
    height: 60px;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    float:center;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-top: 50px;
    z-index: -1;
    place-items: center;
	margin-bottom: 0px;
    position: absolute;
  
  }

  .user-notes-search-wrapper .field input{
    height: 100%;
    width: 100%;
    border: 2px solid var(--search-wrapper-border);
    border-radius: 5px;
    padding: 0 130px 0 15px;
    font-size: 20px;
    outline: none;
    font-family: "Poppins";
    color: var(--search-wrapper-color-search);
    background-color: var(--search-wrapper-background);
    /* box-shadow: 5px 5px 30px rgba(0,0,0,.2); */
  }
  .user-notes-search-wrapper .field input::placeholder{
    color: #999;
    font-family: "Poppins";
    font-size: 18px;
  }
  .user-notes-search-wrapper .field .btn-2{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    background: #664AFF;
    /* background: #7380EC; */
    height: 40px;
    width: 100px;
    user-select: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
.litenote-dashboard-notes-preview .wrapper{
    /* margin: 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    flex-wrap: wrap;
    gap: 15px;
    /* margin-left: 0px; */
    align-items: center;
    margin: 0px;
    margin-top: 30px;
        width: 1000px;

}
.litenote-dashboard-notes-preview .wrapper li{
    height: 250px;
    list-style: none;
    background: var(--note-background);
    border-radius: 5px;
    padding: 15px 20px 20px;
    box-shadow: #0000001A 0px 2px 5px 0px;

}
.litenote-dashboard-notes-preview .add-box, .icon{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.litenote-dashboard-notes-preview .add-box .icon{
    height: 100px;
    width: 100px;
    color: #7380EC;
    font-size: 40px;
    border-radius: 50%;
    border:  2px dashed #7380EC;
} 
.litenote-dashboard-notes-preview .add-box  p{
    color: #7380EC;
    font-weight: 500;
    margin-top: 20px;
}
.litenote-dashboard-notes-preview .note p{
font-size: 22px;
font-weight: 500;
}
.litenote-dashboard-notes-preview .note span{
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 13px;
}
.litenote-dashboard-notes-preview .note .bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.litenote-dashboard-notes-preview .note{
    display: flex;
    flex-direction: column;
 justify-content: space-around;
}
.litenote-dashboard-notes-preview .note .bottom-content span{
    color: #6d6d6d;
    font-size: 14px;
}
 .settings-menu svg{
    color: #6d6d6d;
    font-size: 14px;
    cursor: pointer;
    padding-right: 8px;
}
 .settings-menu  .menu{
    position: absolute;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 10px 0;
    padding-bottom: 0px;
    background: var(--note-background);
    transform: scale(0);
    transform-origin: top top;
    transition: transform 0.2s ease;
}
 .settings-menu:hover .menu{
    transform: scale(1);
}
 .settings-menu {
    position: relative;
}
 .settings-menu  .menu li{
    display: flex;
    align-items: center;
    
    height: 25px;
    border-radius: 0;
    cursor: pointer;
    padding: 25px 10px;
    width: 200px;
    font-size: 13px;
    font-family: "Poppins";
    background: var(--note-settings-background);
}
 .settings-menu  .menu li:hover{
    background: var(--note-setings-hover);
}

@media screen and (max-width:1200px) {
    .litenote-dashboard-notes-preview .wrapper{
        width: 100vmin;
        padding: 55px 30px;
        margin-top: 60px;

    }
}

@media screen and (max-width:768px) {
    .litenote-dashboard-notes-preview .wrapper{
        width: 100vmin;
        padding: 55px 30px;
        margin-top: 30px;

    }
}
@media screen and (max-width:767px) {
    .litenote-dashboard-notes-preview .wrapper{
        width: 100vmin;
        padding: 55px 30px;
        margin-top: 0px;

    }
}