.litenote-dashboard-sticky-notes-preview{
    margin-top: 60px;
    position: fixed;
}
.litenote-dashboard-sticky-notes-preview .sticky-wrapper{
    /* margin: 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    flex-wrap: wrap;
    gap: 5px;
    /* margin-left: 0px; */
    align-items: center;
    margin: 0px;
    margin-top: 30px;
        width: 1200px;
        margin-left: 10px;

}


.sticky-container {
    max-width: 200px;
    position: relative;
  }
  
  .sticky-outer {
    display: flex;
    padding-top: 92.5925926%;
    position: relative;
  
    width: 100%;
  }
  
  .sticky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  /* Shadow behind the sticky note */
  .sticky:before {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    width: 90%;
    left: 5px;
    height: 75%;
    position: absolute;
    top: 30%;
  }
  
  /* The sticky note itself */
  .sticky-content {
    background: linear-gradient(
      180deg,
      rgba(187, 235, 255, 1) 0%,
      rgba(187, 235, 255, 1) 12%,
      rgba(170, 220, 241, 1) 75%,
      rgba(195, 229, 244, 1) 100%
    );
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Kalam', cursive;
    font-size: 1.1rem;
    margin-left: 5px;
  
    clip-path: url(#stickyClip);
  }
  
  
  .sticky-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .sticky-container-inner {
    width: 50%;
    margin: 25px;
  }
  .user-sticky-search-wrapper{
    height: 60px;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    float:center;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    margin-left: 0px;
    margin-top: 50px;
    z-index: -1;
    place-items: center;
  
  }

  .user-sticky-search-wrapper .field input{
    height: 100%;
    width: 100%;
    border: 2px solid var(--search-wrapper-border);
    border-radius: 5px;
    padding: 0 130px 0 15px;
    font-size: 20px;
    outline: none;
    font-family: "Poppins";
    color: var(--search-wrapper-color-search);
    background-color: var(--search-wrapper-background);
    /* box-shadow: 5px 5px 30px rgba(0,0,0,.2); */
  }
  .user-sticky-search-wrapper .field input::placeholder{
    color: #999;
    font-family: "Poppins";
    font-size: 18px;
  }
  .user-sticky-search-wrapper .field .btn-2{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    background: #664AFF;
    /* background: #7380EC; */
    height: 40px;
    width: 100px;
    user-select: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Add responsiveness */
  @media screen and (min-width: 640px) {
    .sticky-content {
      font-size: 1.5rem;
    }
    .container-inner {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .sticky-content {
      font-size: 1.5rem;
    }
    .container-inner {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .sticky-content {
      font-size: 1.875rem;
    }
    .container-inner {
      width: 25%;
    }
  }





.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  
.sticky-notes-color-controls{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  position: fixed;
  left:110em;
  top: 50%;
  transform: translateY(-50%);
  background-color: #35363e;
  padding: 1em 1em;
  border-radius: 40px;

  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
;
z-index: 10000;
}


.sticky-notes-color-add-btn{
  background-color: rgba(107,107,107,1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.sticky-notes-color-add-btn:hover{
  height: 45px;
  width: 45px;
}

.sticky-notes-color{

  height: 40px;
  width: 40px;
  border-radius: 50%;

  cursor: pointer;
  transition: 0.3s;
}

.sticky-notes-color:hover{
  height: 45px;
  width: 45px;
}
.parallelogram {

  transform: skew(20deg);
  /* You can adjust the angle to get the desired skew effect */
}
.card{
  width: 200px;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  cursor: move;
  position: fixed;
  min-height: 10rem;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
  
;
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.card-header {
  background-color: #9bd1de;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.card-body{
  padding: 1em;
  border-radius: 0 0 5px 5px;

}

.card-body textarea{
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 16px;
  cursor: move;
}




textarea:focus{
  background-color: inherit;
  outline: none;
  width: 100%;
  height: 100%;

}

@media screen and (max-width:768px) {
  .litenote-dashboard-sticky-notes-preview .sticky-wrapper{
      width: 100vmin;
      padding: 55px 30px;
      margin-top: 0px;

  }
  .user-sticky-search-wrapper{
      margin-top: 0px;
      width: 350px;
      margin-bottom: 0px;
      margin-left: 20px;
  } 
  .sticky-notes-color-controls{
    left: 25rem;
    
  }

}