
:root{
  --background-color-users-table-row:#ffff;
  --background-color-users-table-row-header: #f2f2f2;
  --delete:    #E5E5E5;
  --search-wrapper-background : #ffff;
  --search-wrapper-color-search : black;
  --search-wrapper-border : #ffff;
  --filter-tags-wrapper : #ffff;
  --gray: #EAEAEC;
}
   /*    Dark Mode */
   .dark-theme-variables{
    --background-color-users-table-row: #202528;
    --background-color-users-table-row-header: #00000066;
    --search-wrapper-background : #00000066;
    --search-wrapper-color-search : #ffff;
    --search-wrapper-border : #202528;
    --filter-tags-wrapper : #111316;
    --delete:   : none;
   }
.users-table-row{
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  background: var(--background-color-users-table-row);
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.users-table-container{
  display: flex;
  flex-direction: column;
  width: 1000px;
  font-family:  "Poppins";

}
.users-table-column{
  padding: 5px;
  flex: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.table-avatar{
  width: 30%;
  border-radius: 50%;

}
.users-table-row.first .users-table-column {
  font-weight: bold;
  background-color: var(--background-color-users-table-row-header);

}


::selection{
  color: #fff;
  background: #664AFF;
}
.user-search-wrapper{
  height: 60px;
  width: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  margin-left: 25px;

  margin-bottom: 10px;

}

.users-top-man{
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.user-search-wrapper .field input{
  height: 100%;
  width: 100%;
  border: 2px solid var(--search-wrapper-border);
  border-radius: 5px;
  padding: 0 130px 0 15px;
  font-size: 20px;
  outline: none;
  font-family: "Poppins";
  color: var(--search-wrapper-color-search);
  background-color: var(--search-wrapper-background);
  /* box-shadow: 5px 5px 30px rgba(0,0,0,.2); */
}
.user-search-wrapper .field input::placeholder{
  color: #999;
  font-size: 18px;
}
.user-search-wrapper .field .btn-2{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  background: #664AFF;
  /* background: #7380EC; */
  height: 40px;
  width: 100px;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}



.users-page-headings{
  font-family:  "Poppins", sans-serif;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.users-page-headings h2{
  font-weight: 1000;
  font-family: "Poppins";
}















.table-slider-title{
margin-left: 150px;
}

.range{
place-items: center;
  height: 80px;
  width: 350px;
  background: #fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  /* float: center; */
  margin: 0 20px;
  /* margin-top: 70px; */
  margin-bottom: 0px;
  
}
.sliderValue{
  position: relative;
  width: 100%;
}
.sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.sliderValue span.show{
  transform: translateX(-70%) scale(1);
  text-align: center;
}
.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #664AFF;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value{
  position: absolute;
  font-size: 18px;
  color: #664AFF;
  font-weight: 600;
}
.field .value.left{
  left: -22px;
}
.field .value.right{
  right: -43px;
}
.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664AFF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664AFF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #664AFF;
}





.users-table-delete-button{
  background-color : var(--delete);
 
}




::selection{
  color: #fff;
  background: #5372F0;
}
.filter-tags-wrapper{
  width: 97%;
  margin-left: 25px;
  background: var(--filter-tags-wrapper);
  border-radius: 10px;
  padding: 10px 25px 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
  margin-bottom: 5px;
  /* margin-left: 30px;
  margin-right: 30px; */
}
.filter-tags-wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.filter-tags-title img{
  max-width: 21px;
}
.filter-tags-title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.filter-tags-wrapper .filter-tags-content{
  margin: 10px 0;
}
.filter-tags-content p{
  font-size: 15px;
}
.filter-tags-content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.filter-tags-content ul  li{
  color: #333;
  margin: 4px 2px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 5px 5px 7px;
  border: 1px solid #e3e1e1;
}
.filter-tags-content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.filter-tags-content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 10px;
}
.filter-tags-wrapper .filter-tags-details{
  justify-content: space-between;
}
.filter-tags-details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #664AFF;
  transition: background 0.3s ease;
}
.filter-tags-details button:hover{
  background: #2c52ed;
}
@media all and (max-width: 768px) {
  .users-top-man{
    display: flex;
    /* align-items: center; 
    justify-content: space-between; */
    flex-direction: column;
    align-items: flex-start;
  }
}
@media all and (max-width: 767px) {
  .users-table-containe{
    animation: relative;
 }
 .users-page-phone-title{
  place-items: center;
  font-size: 1000;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  font-family: "Poppins";
 }
 .users-table-container{
  position: relative;
 }
 .user-search-wrapper{
 align-items: center;
 margin-left: 25px;
 width: 350px;

 }
 .users-page-headings{
 display: flex;
 flex-direction: column;
}

.filter-tags-wrapper{
  width: 37%;
  margin-left: 10px;
  
  /* margin-left: 25px; */
}
.users-page-phone-help{
  margin-top: 50px;
}



}

















.preview-user-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.preview-user-container h4{
  margin-top: 5px;
  font-weight: 700;
}
.preview-user-container p{
font-weight: 400;
font-size: clamp(1rem, 
1.75vw, 1.1rem);
font-weight: 400;
margin: 0.4rem 0;
}
.preview-user-container-full-details-container{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style-type: none;
  /* padding: 0.75rem 0px 1rem 0px; */
}
.preview-user-container-full-details-container li{
  border-radius: 0.5rem;
  padding: 0.25rem 0.1rem;
  font-size: 0.9375rem;
  background-color: var(--gray);
  transition: all 0.3s;
  font-weight: 500;
}
.preview-user-action-buttons{
  border-top: 1px solid var(
    --gray);
padding-top: 1rem;
gap: 0.75rem;
display: flex;
margin-top: auto;
flex-wrap: wrap;
}

.preview-user-action-buttons span {
  background-color: #29283F;
  color: white;
  color: white;
  padding: 0.75rem;
  text-decoration: none;
  border-radius: 0.75rem;
  outline: none;
  border: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex: 1 0 15rem;
  max-width: 100%;
}
.preview-user-action-buttons span:nth-child(2){
  background-color: white;
  color: black;
  border: 1px solid #29283F;
}
.card {
  display: flex;
  flex-wrap: wrap;
  background: #f5f5f5;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  max-width: clamp(320px, 70vw, 740px);
  min-width: 20rem;
  min-height: 17.5rem;
  border: none;
}

.background {
  flex: 1 1 15rem;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 3 1 22rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
}

.content > h2 {
  font-size: clamp(
      1.3rem, 2.5vw, 
      1.8rem);
  font-weight: 700;
  margin-bottom: clamp(
      0.35rem, 2vw, 
      0.55rem
  );
}

.content > p {
  font-size: clamp(1rem, 
      1.75vw, 1.1rem);
  font-weight: 400;
  margin: 0.4rem 0;
}

.content a {
  color: var(--primary-violet);
}

.chips {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0.75rem 0px 1rem 0px;
}

.chip {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9375rem;
  background-color: var(--gray);
  transition: all 0.3s;
  font-weight: 500;
}

.chip:hover {
  background-color: var(
      --primary-violet);
  color: var(--gray)
}

.action-buttons {
  border-top: 1px solid var(
      --gray);
  padding-top: 1rem;
  gap: 0.75rem;
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
}

.action-buttons a {
  background-color: var(
      --primary);
  color: white;
  padding: 0.75rem;
  text-decoration: none;
  border-radius: 0.75rem;
  outline: none;
  border: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex: 1 0 15rem;
  max-width: 100%;
}

.action-buttons a:hover {
  text-decoration: underline;
}

.action-buttons a.secondary {
  background-color: inherit;
  color: var(--primary);
  border: 1px solid var(
      --primary);
  flex: 1 0 5rem;
}

