.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 4%;

}
.tabs{
    background: white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    position:  relative;
  width: 1200px;

 
}
input[type = "radio"]{
    display: none;
}
label{
    display: block;
    height: 55px;
    width: 180px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
.search-glider{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e6eef9;
    width: 170px;
    height: 55px;
    border-radius: 2rem;
    transition: ease .3s ;
}

#tab1:checked  ~ .glider{
    transform:translateX(0)
}
#tab2:checked  ~ .glider{
    transform: translateX(200px);
} 
#tab4:checked  ~ .glider{
    transform: translateX(400px);
}
#tab5:checked  ~ .glider{
    transform: translateX(600px);
}
#tab6:checked  ~ .glider{
    transform: translateX(800px);
}
#ta7:checked  ~ .glider{
    transform: translateX(1000px);
}